* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* HEADER */
header {
  background-color: rgb(194, 42, 42);
  height: 10vh;
  display: flex;
  align-items: center;
}

#headerContenet {
  background-color: white;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerImg {
  max-height: 100%;
}

#i007 {
  padding-left: 1rem;
}

#twoShooting {
  padding-right: 1rem;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}

#fromRussia {
  width: 30vw;
}

#score {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

#circles_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}

.circles {
  background-image: url("assets/empty.jpg");
  background-size: cover;
  height: 12.2vw;
  width: 19vw;
  border: none;
  margin: 1rem;
}

.highlighted {
  background-image: url("assets/stand.jpg");
}

.highlighted:hover {
  background-image: url("assets/shoot.jpg");
}

#start_stop_button_block {
  display: flex;
  justify-content: center;
}

button {
  height: 3rem;
  width: 10rem;
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidenButton {
  display:none;
}

/* FOOTER */
footer {
  background-color: rgb(194, 42, 42);
  height: 20vh;
  display: flex;
  align-items:flex-start;
}

#footerContenet {
  background-color: white;
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#leftImgCover, #rightImgCover {
  width: 30vw;
  max-height: 100%;
  display: flex;
}

#rightImgCover {
  justify-content: flex-end;
}

#footerTextCover {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footerImg {
  max-height: 100%;
}

#twoStanding {
  max-width: 100%;
  margin-left: 3rem;
  object-fit:contain;
}

#topSecret {
  max-width: 100%;
  padding-right: 1rem;
  margin-bottom: 1rem;
  object-fit:contain;
}

/* OVERLAY */
.overlay {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  display: none;
}

.overlay.visible {
  display: flex;
}

.modal {
  background-color: white;
  opacity: 1;
  color: #333;
  height: 20vh;
  width: 40vw;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative /*so the button could position itself*/;
}

.btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: none;
  top: 0.5rem;
  right: 0.5rem;
}

/* MEDIA */
@media (max-width: 576px) {

  #fromRussia {
    width: 50vw;
  }

  #circles_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
  }

  .circles {
    height: 21.96vw;
    width: 34.2vw;
    margin: 0.5rem;
  }

  footer {
    height: 10vh;
  }

  #twoStanding {
    margin-left: 1rem;
  }

  .modal {
    width: 80vw;
  }
}
