* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
}

section {
  display: flex;
  justify-content: center;
}

.insideSection {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1.5rem;
}

h1 {
  margin-left: 2vw;
}

h3 {
  margin: 0 0 1.5rem 0;
}

nav ul li {
  display: inline-block;
  margin: 1vw;
}

nav ul li a {
  color: white;
}

img {
  width: 305px;
  height: 180px;
}

/*** HEADER ***/
header {
  background-color: #333;
  color: white
}

#headersSection {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*** HERO BANNER ***/
#upper_part {
  height: 75vh;
  background: url("1.jpg") no-repeat top center/cover;
  color: black;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*** MY PROJECTS ***/
#projects {
  display: flex;
  justify-content: space-around;
}

#myProjects {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  border-width: 1px;
  border-color: rgb(212, 210, 210);
  border-style: solid;
  border-radius: 3px;
  padding: 1.5rem;
  margin: 0.5rem 1rem;
}

.projectName {
  margin-top: 1rem;
  font-weight: bold;
}

.projectText {
  margin-top: 0.5rem;
  font-style: oblique;
  color: grey;
  display: flex;
}


.seeMore {
  margin-top: 0.5rem;
  color: rgb(255, 127, 80);
}

/*** ABOUT ME ***/
#aboutMe {
  background-color: rgb(236, 237, 238);
}

#aboutMeVideo {
  float: left;
  margin: 0 1rem 1rem 0;
}

/*** SKILLS ***/
#skillsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skillsVideo {
  float: right;
  margin: 0 0 1rem 1rem;
}

#skillsBoxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skillsBox {
  width: 200px;
  height: 200px;
  border: 1px;
  border-radius: 3px;
  border-color: rgb(212, 210, 210);
  border-style: solid;
  background-color: rgb(236, 237, 238);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

i {
  font-size: 4rem;
  margin-bottom: 1rem;
}


/*** progress-elements styling ***/
progress {
  opacity: 0;
}

.progress-container {
  position: relative;
  display: inline-block;
  background: #333;
  width: 100%;
  height: 10px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 1rem;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 1px;
  height: 100%;
  width: 0;
  background: rgb(255, 127, 80);
}

.progress-element--python .progress-container::before {
  animation: progress-python 1s ease-in forwards;
}

.progress-element--javascript .progress-container::before {
  animation: progress-javascript 1s ease-in forwards;
}

.progress-element--html .progress-container::before {
  animation: progress-html 1s ease-in forwards;
}

.progress-element--css .progress-container::before {
  animation: progress-css 1s ease-in forwards;
}

@keyframes progress-python {
  to {
    width: 65%;
  }
}

@keyframes progress-javascript {
  to {
    width: 60%;
  }
}

@keyframes progress-html {
  to {
    width: 85%;
  }
}

@keyframes progress-css {
  to {
    width: 40%;
  }
}
/********** end of progress styling ************/

/*** FOOTER ***/
form {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

#contactMe {
  width: 550px; 
}

.contacts {
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

#contactMeTitle {
  padding: 2rem 0 1.5rem 0;
  align-self: center;
}

#yourName,
#email {
  height: 30px;
  width: 400px;
  border: none;
  border-radius: 5px;
}

#message {
  height: 100px;
  width: 400px;
  border: none;
  border-radius: 5px;
}

button {
  height: 45px;
  width: 235px;
  background-color: rgb(255, 127, 80);
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

#copyrightText {
  padding: 1.5rem;
}

@media (max-width: 530px) {
  #yourName, #email, #message {
  width: 250px;
}

#contactMe {
  width: 370px; 
}
}