body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
}

header {
    background-color: rgb(223, 148, 87);
}

h2 {
    text-align: center;
}

input,
button {
    font-family: inherit;
    padding: 10px;
    font-size: 14px;
}

button {
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    margin: 20px 0;
}

label {
    /* display: inline-block; */
    width: 50px;
    background: yellow;
}

input, label {
    display:inline-block;
    height: 10px;
    width: 60px;
}

.form_group_gasoline {
    margin: 10px 0;
}

.form_group_temperature {
    margin: 20px 20px 20px 20px;
    
    
}

.form1 {
    background-color: rgb(223, 148, 87);
    height: 200px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align:justify;
    /* text-align-last:justify; */
    vertical-align: middle;
}

.form2 {
    background-color: rgb(223, 148, 87);
    height: 200px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align:justify;
    /* text-align-last:justify; */
    vertical-align: middle;
}