* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

#logo_and_Wellcome {
  display: flex;
}

#logo {
  display: block;
  justify-content: left;
}

#wellcome {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logoImg {
  width: 35vw;
  float: left;
}

h1 {
  color: antiquewhite;
  font-family: "Sonsie One", cursive;
  font-size: 3rem;
  text-align: center;
  padding: 5rem 2rem 0 0;
}

form {
  margin: 3rem;
}

#order {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#left {
  width: 48vw;
  display: flex;
  justify-content: right;
}

#name_input {
  width: 10rem;
  height: 1.5rem;
  margin-left: 1rem;
}

#vertical_line {
  width: 1px;
  height: 10rem;
  border: 1px;
  border-style: solid;
  border-color: aliceblue;
  margin: 0 2rem;
}

#right {
  width: 48vw;
  display: flex;
  justify-content: left;
}

#back {
  display: flex;
}

#backImg {
  width: 100vw;
}
