* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 15vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoImg {
  height: 15vh;
  float: left;
}

ul {
  display: inline-block;
  font-size: 1.2rem;
  color: whitesmoke;
  margin-right: 2rem;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

#order {
  height: 75vh;
  display: flex;
  justify-content: center;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position:top right;
  background-size: cover;
}

#left {
  width: 48vw;
  display:flex;
  flex-direction: column;
  align-items:flex-end;
}

.buttons, #selectWTE {
  margin-top: 0.5rem;
}

#customer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#pizzaSize, #toppings, #whereToEat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1.2rem;
}

#name_input, select {
  width: 10rem;
  height: 1.5rem;
  margin-left: 1rem;
  border-radius: 5px;
  border: none;
  text-indent: 0.5rem;
}

select {
  text-align: center;
}

#vertical_line {
  width: 1px;
  height: 26.5rem;
  border: 1px;
  border-style: solid;
  border-color: aliceblue;
  margin: 0 2rem;
}

#right {
  width: 48vw;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

#rightBox {
  width: 15rem;
  height: 22rem;
  border-top-style:double;
  border-bottom-style:double;
  border-radius: 0px;
  background-color: rgb(161, 167, 173);
  color: rgb(73, 72, 72);
  font-family: 'Cutive Mono', monospace;
  padding: 1rem;
  text-align: center;
}

input::placeholder {
  opacity: 0.5;
  color: grey;
}

