body {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-color: rgb(34, 104, 70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 43px;
    margin:auto;
}

.underTitle {
    font-size: 17px;
}

.form {
    height: 700px;
    width: 350px;
    margin: 30px 0 0 0;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

label {
    font-size: 12px;
    color:rgb(158, 158, 158);
    display:flex;
    margin-left: 25px;
    margin-bottom: 8px;
}


input {
    height: 40px;
    width: 290px;
    font-size: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border:solid 1px rgb(158, 158, 158);
    border-radius: 7px;
}

button {
    height: 45px;
    width: 235px;
    background-color: rgb(255, 127, 80);
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.underButton {
    font-size: 13px;
    margin: 20px 20px;
}

.underForm {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}

a {
    color: rgb(255, 127, 80);
    text-decoration: none;
}